## This notebook inputs the missing values using Mean Imputation

In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
from sklearn.impute import SimpleImputer

#### Choose wether the imputation should be done on the data set with daily or weekly granularity

In [2]:
#INPUT, OUTPUT = 'CompleteIndexes.csv','MeanImputed.csv'
INPUT, OUTPUT = 'CompleteWeeklyIndexes', 'MeanWeeklyImputed'

In [3]:
df = pd.read_csv(INPUT+'_training_FE.csv', parse_dates=True, index_col=0)
df_test = pd.read_csv(INPUT+'_test_FE.csv', parse_dates=True, index_col=0)
df.head()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n255_Close,n255_Volume,...,n100_obv_ema13,n100_obv_ema13_diff1_period3,n100_obv_ema26,n100_obv_ema26_diff1_period3,n100_obv_ema52,n100_obv_ema52_diff1_period3,n100_52_Week_High,n100_52_Week_High_diff1_period3,n100_52_Week_Low,n100_52_Week_Low_diff1_period3
2000-01-07,1441.469971,1.225200e+09,21.719999,0.0,11522.559570,184900000.0,3529.600098,1.634930e+09,18193.410156,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-14,1465.150024,1.085900e+09,19.660000,0.0,11722.980469,266830000.0,3704.739990,1.656630e+09,18956.550781,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-21,1441.359985,1.209800e+09,20.820000,0.0,11251.709961,205840000.0,3849.959961,1.923680e+09,18878.089844,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-28,1360.160034,1.095800e+09,26.139999,0.0,10738.870117,183090000.0,3446.129883,1.616370e+09,19434.779297,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-04,1424.369995,1.045100e+09,21.540001,0.0,10963.799805,166590000.0,3874.370117,1.751450e+09,19763.130859,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n255_Close,n255_Volume,...,n100_obv_ema13,n100_obv_ema13_diff1_period3,n100_obv_ema26,n100_obv_ema26_diff1_period3,n100_obv_ema52,n100_obv_ema52_diff1_period3,n100_52_Week_High,n100_52_Week_High_diff1_period3,n100_52_Week_Low,n100_52_Week_Low_diff1_period3
2014-11-28,2067.560059,2.504640e+09,13.33,0.0,17828.240234,80470000.0,4337.790039,9.986000e+08,17459.849609,149100.0,...,2.626986e+09,1.079923e+08,2.117921e+09,1.115268e+08,9.747975e+08,1.215585e+08,NaN,NaN,NaN,NaN
2014-12-05,2075.370117,3.419620e+09,11.89,0.0,17958.789063,79110000.0,4311.569824,1.767100e+09,17920.449219,128900.0,...,2.723415e+09,2.075762e+08,2.186775e+09,1.630320e+08,1.031443e+09,1.476077e+08,NaN,NaN,NaN,NaN
2014-12-12,2002.329956,4.157650e+09,21.08,0.0,17280.830078,121950000.0,4199.279785,1.888870e+09,17371.580078,214500.0,...,2.781138e+09,2.221686e+08,2.236581e+09,1.722482e+08,1.078614e+09,1.525938e+08,NaN,NaN,NaN,NaN
2014-12-19,2070.649902,6.465530e+09,16.49,0.0,17804.800781,343690000.0,4281.779785,3.287920e+09,17621.400391,175800.0,...,2.895447e+09,2.684609e+08,2.316021e+09,1.981005e+08,1.140932e+09,1.661347e+08,NaN,NaN,NaN,NaN
2014-12-26,2088.770020,1.735230e+09,14.50,0.0,18053.710938,52570000.0,4314.089844,9.302200e+08,17818.960938,86500.0,...,3.001591e+09,2.781764e+08,2.392519e+09,2.057441e+08,1.202074e+09,1.706317e+08,NaN,NaN,NaN,NaN

In [5]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(df)

SimpleImputer()

In [6]:
df_imputed = imp.transform(df)
df_test_imputed = imp.transform(df_test)

In [7]:
df_final = pd.DataFrame(data=df_imputed, index=df.index, columns=df.columns)
df_test_final = pd.DataFrame(data=df_test_imputed, index=df_test.index, columns=df_test.columns)

In [8]:
df_final.head()

,sp500_Close,sp500_Volume,vix_Close,vix_Volume,dji_Close,dji_Volume,ndx_Close,ndx_Volume,n255_Close,n255_Volume,...,n100_obv_ema13,n100_obv_ema13_diff1_period3,n100_obv_ema26,n100_obv_ema26_diff1_period3,n100_obv_ema52,n100_obv_ema52_diff1_period3,n100_52_Week_High,n100_52_Week_High_diff1_period3,n100_52_Week_Low,n100_52_Week_Low_diff1_period3
2000-01-07,1441.469971,1.225200e+09,21.719999,0.0,11522.559570,184900000.0,3529.600098,1.634930e+09,18193.410156,0.0,...,-6.859829e+08,1.131444e+07,-7.283904e+08,9.211036e+06,-7.546150e+08,4.700029e+06,-0.18397,-0.032924,0.0838,-0.002946
2000-01-14,1465.150024,1.085900e+09,19.660000,0.0,11722.980469,266830000.0,3704.739990,1.656630e+09,18956.550781,0.0,...,-6.859829e+08,1.131444e+07,-7.283904e+08,9.211036e+06,-7.546150e+08,4.700029e+06,-0.18397,-0.032924,0.0838,-0.002946
2000-01-21,1441.359985,1.209800e+09,20.820000,0.0,11251.709961,205840000.0,3849.959961,1.923680e+09,18878.089844,0.0,...,-6.859829e+08,1.131444e+07,-7.283904e+08,9.211036e+06,-7.546150e+08,4.700029e+06,-0.18397,-0.032924,0.0838,-0.002946
2000-01-28,1360.160034,1.095800e+09,26.139999,0.0,10738.870117,183090000.0,3446.129883,1.616370e+09,19434.779297,0.0,...,-6.859829e+08,1.131444e+07,-7.283904e+08,9.211036e+06,-7.546150e+08,4.700029e+06,-0.18397,-0.032924,0.0838,-0.002946
2000-02-04,1424.369995,1.045100e+09,21.540001,0.0,10963.799805,166590000.0,3874.370117,1.751450e+09,19763.130859,0.0,...,-6.859829e+08,1.131444e+07,-7.283904e+08,9.211036e+06,-7.546150e+08,4.700029e+06,-0.18397,-0.032924,0.0838,-0.002946

In [9]:
df_final.to_csv(OUTPUT+'_training_FE.csv', index = True)
df_test_final.to_csv(OUTPUT+ '_test_FE.csv', index = True)