# Correlation Analysis of the used indexes

In [6]:
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
v_sp500 = pd.read_csv('S&P500.csv', parse_dates=True)
v_sp500.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
1,2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2,2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
3,2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
4,2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000

In [10]:
v_vix = pd.read_csv('VIX.csv', parse_dates=True)
v_vix.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2000-01-03  24.360001  26.150000  23.980000  24.209999  24.209999       0
1  2000-01-04  24.940001  27.180000  24.799999  27.010000  27.010000       0
2  2000-01-05  27.980000  29.000000  25.850000  26.410000  26.410000       0
3  2000-01-06  26.680000  26.709999  24.700001  25.730000  25.730000       0
4  2000-01-07  25.139999  25.170000  21.719999  21.719999  21.719999       0

In [17]:
sp500_vix_close_corr = v_sp500['Close'].corr(v_vix['Close'])
sp500_vix_close_corr

-0.43107968560857962

In [19]:
sp500_vix_close_vol_corr = v_sp500['Volume'].corr(v_vix['Close'])
sp500_vix_close_vol_corr

0.301312039626148